<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Venbhas_ProductLabels::label_manage"
             title="Product Labels"
             translate="title"
             module="Venbhas_ProductLabels"
             sortOrder="90"
             parent="Magento_Catalog::catalog"
             action="productlabels/label/index"
             resource="Venbhas_ProductLabels::label_manage"/>
    </menu>
</config>
